html * {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEF0F2;
    color: #353B3C;
}

body {
    margin: 5ex 10ex;
}

header {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 2vh;
}

header img {
    width: 40px;
}

header .tab{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button {
    border: none;
    color: #353B3C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.3s;
}

header button:hover {
    background-color: #353B3C;
    color: #EEF0F2;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10ex;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nzsl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#image-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.image-item {
    width: 400px;
    height: 250px;
    background-color: #C6C7C4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-item img {
    height: 60%;
    width: auto;
    margin-top: 15px;
}

.image-item .description {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}


/*Event*/
.event-item {
    margin-top: 5ex;
}



/*User*/

#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5ex;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2ex;
}


/*Comment*/
#guest-book {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    margin: 5ex;
}

#comment-input {
    width: 80vw;
    height: 60px;
    text-align: start;
    margin-bottom: 1ex;
}

iframe{
    width: 80vw;
    height: 600px;
    background-color: #353B3C;
}




